@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap");

.clear::after {
  display: block;
  content: "";
  clear: both;
}

.wrap {
  height: 100%;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}

/***************POP 이벤트**************/
.top-pop {
  height: 50px;
  background-color: #fff;
  position: relative;
  transition: all 0.3s;
}

.pop-text {
  width: 800px;
  margin: 0 auto;
  color: #000;
  text-align: center;
  line-height: 50px;
}

.d-none {
  display: none;
}

.top-pop > button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #000;
}

/***********************************/
header {
  height: 100px;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 250px;
  height: 100%;
  margin-left: 50px;
  /* background-color: #e9caca; */
}

.logo > a {
  display: block;
  height: 100%;
  background-image: url(../images/LOGO\ BOUCHERON.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: #000;
  z-index: 500;
}

#header {
  z-index: 10;
  width: 100%;
}

.absol {
  position: absolute;
}

/***********************************/
nav {
  width: 700px;
  height: 100%;
}

nav > ul {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

nav > ul > li {
  width: 25%;
  height: 100%;
  line-height: 100px;
  text-align: center;
  padding: 15px 0;
}

nav > ul > li > a {
  display: block;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

nav > ul > li > a:hover {
  transform: scale(1.1);
}

/***********************************/
.util {
  width: 500px;
  height: 100px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.util input {
  display: block;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  border: none;
  margin-left: -30px;
}

.util > input > p:first-child,
.util > input > p:last-child {
  width: 25%;
}

.util p a {
  display: inline-block;
}

.util p:hover {
  transform: scale(1.1);
}

.util > input > p {
  font-size: 17px;
}
/***********************************************/
/* 링클릭시 보여줄 화면 */
/********************************************** */
.ring-main {
  /* height:100%; */
  background-color: pink;
  margin-top: 100px;
}

.cat-slide-container {
  padding: 10px 50px;
  height: 100px;
  background-color: #fff;
}

.first-slide {
  height: 100%;
  width: 1000px;
}

.swiper-wrapper {
  height: 100%;
  width: 100%;
  /* background-color: #333; */
}

.slide1-1,
.slide1-2,
.slide1-3,
.slide1-4,
.slide1-5,
.slide1-6,
.slide1-7,
.slide1-8,
.slide1-9,
.slide1-10,
.slide1-11 {
  background-color: beige;
  border-radius: 50px;
  height: 100%;
}
.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

/*******************************************/
.ring-text {
  height: 50px;
  /* background-color: #a19f9f; */
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  padding: 0 20px;
}

.ring-text h3 {
  font-weight: bold;
  font-size: 17px;
}

.ring-text span {
  display: inline-block;
  margin-left: 20px;
}

/*******************************************/
.ring-contents {
  width: 100%;
  padding: 10px 20px;
}
.box-1 {
  width: 15%;
  height: 400px;
  background-color: azure;
  float: left;
}

/***********************************/
footer {
  height: 300px;
  background-color: #fff;
  padding: 0 50px;
}

.footer-top {
  height: 70%;
}

.footer-nav {
  width: 800px;
  height: 100%;
  /* background-color: pink; */
}

.footer-nav > ul {
  display: flex;
  justify-content: space-around;
}

.footer-nav > ul a {
  display: block;
  font-size: 14px;
  color: #333;
  opacity: 0.7;
  margin: 5px 0;
}

li.ft-gnb > a {
  font-size: 15px;
  color: #000;
  font-weight: bolder;
  margin-bottom: 5px;
}

.footer-top a:hover {
  opacity: 1;
}

.footer-bottom {
  height: 30%;
  /* background-color: cadetblue; */
  display: flex;
  padding: 0 20px;
}

.footer-logo {
  width: 200px;
  height: 100%;
}

.footer-logo > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.footer-copy {
  width: 700px;
  height: 100%;
  /* background-color: #e6e6e6; */
  margin-left: 200px;
  line-height: 90px;
  display: flex;
}

.footer-copy span {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-right: 50px;
}

.footer-copy p {
  display: inline-block;
  line-height: 90px;
  margin-left: 10px;
  color: #222;
}

.footer-copy p:hover {
  transform: scale(1.1);
  color: #000;
}
